<?xml version="1.0" ?>
<launch>
  <!-- fr3 specific options -->
  <arg name="robot_ip" default="172.16.0.2" />
  <arg name="robot" value="fr3" doc="choose your robot. Possible values: [panda, fr3]"/>
  <arg name="arm_id" default="$(arg robot)" />
  <arg name="load_gripper" default="true" />
  <arg name="transmission" default="position" />
  <arg name="gazebo" default="false" />
  <arg name="use_rviz" default="true" />


  <group if="$(arg gazebo)">
    <include file="$(find franka_gazebo)/launch/$(arg arm_id).launch">
    </include>
  </group>

  <group unless="$(arg gazebo)">
    <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true">
    </include>
  </group>

  <include file="$(find fr3_moveit_config)/launch/demo.launch" pass_all_args="true">
    <arg name="load_robot_description" value="false" />
    <!-- MoveItSimpleControllerManager provides ros_control's JointTrajectory controllers
         as well as GripperCommand actions -->
    <arg name="moveit_controller_manager" value="ros_control" />
  </include>

</launch>
